.VirtualBox/
.android/
.aws/
.azure/
.bash_history
.boto
.docker/
.gitconfig
.gsutil/
.kube/
.lesshst
.ssh/
.vscode/
AppData/
Contacts/
CrossDevice/
Desktop/
Documents/
Downloads/
Favorites/
Links/
Music/
NTUSER.DAT
OneDrive/
Saved Games/
Searches/
Videos/
VirtualBox VMs/
aws-scripts/
awsstart
az
azureuser@yuvm
devops-1144-git-1/
docker-curriculum/
expi/
flask_greeting_app/
flaskappv1/
flaskproject-backupnotes/
k8sflaskql/
k8sweather/
list_ec2_instances.sh
my-ec2-key.pem
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
stop_all_instances.sh
terraexrecise/
terraflaskql/
terraflaskqlk8s/
terraform/
terraform-apache/
vscodeexpriment/
weathertraining/
